<!DOCTYPE html>
<html lang="{{FF:WebsiteLang:FF}}" dir="{{FF:WebsiteLangDir:FF}}">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, height=device-height, target-densitydpi=device-dpi">
	<meta property="article:publisher" content="{{FF:WebsiteUri:FF}}" />
	<meta property="og:site_name" content="{{FF:WebsiteName:FF}}" />
	<meta property="og:type" content="article" />
	<meta name="author" content="{{FF:AuthorName:FF}}">
	<meta name="twitter:site" content="@{{FF:WebsiteTwitter:FF}}" />
	<meta name="twitter:creator" content="@{{FF:AuthorTwitter:FF}}" />
	<meta name="twitter:card" content="summary_large_image" />
	<meta property="og:title" content="{{FF:PostTitle:FF}}" />
	<meta name="twitter:text:title" content="{{FF:PostTitle:FF}}" />
	<meta name="description" content="{{FF:PostDescription:FF}}">
	<meta property="og:description" content="{{FF:PostDescription:FF}}" />
	<meta property="og:image" content="{{FF:WebsiteUri:FF}}/res/img/{{FF:PostImage:FF}}" />
	<meta name="twitter:image" content="{{FF:WebsiteUri:FF}}/res/img/{{FF:PostImage:FF}}" />
	<meta property="og:url" content="{{FF:WebsiteUri:FF}}/posts/{{FF:PostDate:FF}}-{{FF:PostTag:FF}}.html" />
	<meta property="article:published_time" content="{{FF:PostDate:FF}}T00:00:00+00:00" />
	<link rel="alternate" type="application/rss+xml" title="{{FF:WebsiteName:FF}}" href="{{FF:WebsiteUri:FF}}/rss.xml" />
	<link rel="stylesheet" href="/res/css/style.css">
	<link rel="stylesheet" href="/res/css/highlight.css">
	<link rel="icon" type="image/png" href="/res/img/{{FF:WebsiteIcon:FF}}" />
	<script src="/res/js/highlight.js"></script>
	<script>hljs.initHighlightingOnLoad();</script>
	{{FF:CommentoHead:FF}}
	<title>{{FF:WebsiteName:FF}}: {{FF:PostTitle:FF}}</title>
</head>

<body>
	<div class="content">
		<div class="section">
			<img class="websiteIcon" src="/res/img/{{FF:WebsiteIcon:FF}}" alt="" />
			<h1 class="websiteName"><a href="{{FF:WebsiteUri:FF}}">{{FF:WebsiteName:FF}}</a></h1>
			<p class="websiteDescription">
				{{FF:WebsiteDescription:FF}}
			</p>
		</div>
		<div class="section postContent">
			<h2>{{FF:PostTitle:FF}}</h2>
			<span class="date">{{FF:PostDate:FF}}</span>
			{{FF:PostContent:FF}}
		</div>
		<div id="commento"></div>
		<div class="footer">
			<a href="https://formatforest.com"><img class="formatforest" src="/res/img/formatforest.png" alt="Powered by FormatForest!" title="Powered by FormatForest!" /></a>
			<p>
				Contact information:
				<a href="mailto:{{FF:AuthorEmail:FF}}">Email</a> &bull;
				<a href="https://twitter.com/{{FF:AuthorTwitter:FF}}">Twitter</a> &bull;
				<a href="https://linkedin.com/in/{{FF:AuthorLinkedIn:FF}}">LinkedIn</a> &bull;
				<a href="https://facebook.com/{{FF:AuthorFacebook:FF}}">Facebook</a> &bull;
				<a href="https://instagram.com/{{FF:AuthorInstagram:FF}}">Instagram</a>
			</p>
			<p>
				&copy; <span id="footerYear">{{FF:CurrentYear:FF}}</span> {{FF:AuthorName:FF}}. All Rights Reserved.
			</p>
		</div>
	</div>
</body>
</html>